figure {
  position: relative;
  figcaption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: @font-size-small;
    background-color: #fff;
    padding: @padding-small-vertical @padding-small-horizontal;
    color: @gray;
  }
}