/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Apr-2015, 08:52:59
    Author     : mark.simpson
*/

body.front {
    #front-nav {
        .navbar-front {
              //background-color: rgba(0,0,0,0);
              background-color: #3385AD;
              padding:5px 0 14px;;
              .navbar-nav {
                  margin-top: 20px;
              }
              .second-nav a{
                  font-weight: normal;
              }
              span.spacer {
                    color: #FFF;
                    display: block;
                    margin-top: 9px;
              }
                .navbar-toggle {
                    border:0;
                    top:20px;
                    padding: 13px 17px;
                    position:absolute;

                    &:hover, &:focus {
                      background:transparent;
                    }
                    .icon-bar {
                      background-color:#fff;
                    }
                    .icon-bar {
                        display: block;
                        width: 27px;
                        height: 4px;
                        border-radius: 1px;
                      }
                  }
        @media (max-width: 767px) {
                .navbar-brand {
                  position: absolute;
                  width: 100%;
                  left: 0;
                  text-align: center;
                  margin: auto;
                }
            }
        }
        .nav > li.login-dropdown a{
            padding-top: 0px;
        }
        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 10px;
            font-size: 15px;
          }
    }
}


