/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Apr-2015, 13:26:28
    Author     : mark.simpson
*/

body.front {
    #front-nav {


        .block#block-menu-user-menu {
            margin-left: 10px;
            float: right;
            margin-top: 20.5px;
            @media (max-width: 767px) {

               margin-top: 3%;
            }
        }




        .navbar-default {
            border-color: transparent;

            .navbar-brand {
                height:40px;
            }
        }

    }
    .col-centered{
        float: none;
        margin: 0 auto;
    }
    #body-container {
        max-width: 1600px;
        margin: auto;
        background-color: white;
        overflow: auto;

        header {

            height: 545px;
            background-image: url(/../images/header-bg.jpg);




            #header-slider-wrapper {
                /*max-width: 1370px;*/
                margin: 0 auto;
                //overflow:hidden;
                height:325px;
                .header-slider-inner {
                    width: 200%;
                    position: relative;
                }
                .header-item {
                    /*max-width: 1240px;*/
                    float: left;
                    left: 0px;
                    position: relative;

                    &.switch {
                        cursor: pointer;
                    }  
                    &.search-wrapper {
                        /* width: 1240px;*/
                    }

                } 
            }


@media (max-width: 767px) {

               height: 255px; 
            }

            @media (min-width: @screen-sm) {
                height:420px;
                #header-slider-wrapper {
                    .header-item {

                    }
                    .go-right {
     border-left: 1px solid #fff;
    height: 249px;
    left: 800px;
    padding-top: 96px;
    top: -8px;
                        img {
                            height: 36px;
                        }
                    }
                }

            }


            @media (min-width: @screen-md) {
                height:480px;
                #header-slider-wrapper {

                    .header-item {

                    }
                    .go-right {
                        position: absolute;
                        left: 764px;
                        bottom: 85px;
                        img {
                            height: auto;
                        }
                    }
                }
            }


            @media (min-width: @screen-lg) {
                height:544px;
                #header-slider-wrapper {

                    .header-item {

                    }
                    .go-right {
                         
    border-left: 1px solid #fff;
    bottom: 0;
    height: 289px;
    left: 1174px;
    padding-top: 111px;
    position: absolute;
    
                        img {
                            height: auto;
                        }
                    }
                }
            }


        }
    }


}


